.relative {
  position: relative;
}
.keyboard {
  background-color: #ccc;
  padding: 5px;
  border-radius: 4px;
}
.row {
  display: flex;
  /* margin-bottom: 5px; */
}
.row:first-child .key {
  border-top: 1px solid black;
}
.row:last-child {
  margin-bottom: 0;
}
.key {
  height: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  user-select: none;
}
.key:hover {
  background-color: antiquewhite;
}
.key:active,
.key[data-selected="true"] {
  background-color: #ccc;
}
.key:first-child {
  border-left: 1px solid black;
}
.key:last-child {
  margin-right: 0;
}

.keyLayout {
  height: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 33.3%);
}
.keyLabel {
  box-sizing: border-box;
  position: absolute;
  padding: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  /* font-size: 0.8em; */
}

.keyLabel.c {
  font-size: 1em;
  align-items: center;
  justify-content: center;
}
.keyLabel.s {
  align-items: end;
  justify-content: center;
}
.keyLabel.n {
  align-items: start;
  justify-content: center;
}
.keyLabel.e {
  align-items: center;
  justify-content: end;
}
.keyLabel.w {
  align-items: center;
  justify-content: start;
}
.keyLabel.ne {
  align-items: start;
  justify-content: end;
}
.keyLabel.nw {
  align-items: start;
  justify-content: start;
}
.keyLabel.se {
  align-items: end;
  justify-content: end;
}
.keyLabel.sw {
  align-items: end;
  justify-content: start;
}
.rb {
  right: 0;
  bottom: 0;
}
.row {
}

@font-face {
  font-family: "NotoSansRunic";
  src: url("./font/NotoSansRunic-Regular.ttf");
}
.runic-alphabet {
  margin-bottom: 15px;
}
.runic-alphabet-name {
  font-size: 18px;
  font-weight: bold;
}
.runic-table {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  column-gap: 5px;
  row-gap: 5px;
}
.runic-cell {
  display: grid;
  border: 1px solid;
  min-width: 50px;
}
.runic-cell > div {
  text-align: center;
}
.runic-cell-rune {
  font-size: 28px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
.runic-cell-trans {
  background-color: #efefef;
  height: 24px;
}
.runic-cell-ipa {
  background-color: #efefef;
  height: 24px;
}

.keyboardDesigner {
  display: flex;
}
